.main-brand {
    font-size: 60px;
    text-align: cennter;
    font-weight: normal;
    font-family: cursive;
    margin: 40px,0;
}

.story-title{
    font-weight: normal;
    font-style: italic;
    font-size: 30px;
    margin: 15px 0;
    text-align: center;

}

.story-text{
    line-height: 1.5 ;
    font-size: 16px;
}
.row{
    display:flex;
    align-items: stretch;
}

.story{
    border:1px solid black;
    padding: 5px;
}


.quarter{
    flex: 1;
    width: 25%;
}

.half{
    width: 50%;
}

.three-quarter{
    width: 75%;
}

.nav-list {.nav-item:nth-child(1) {background-color: blue;}
    display:flex;
    flex-direction: column;
    /* margin: 0;
    padding: 0; */
    list-style: none;
}

.nav-item{
    width: 100%;
    flex: 1;
    display: block;
    align-items: center;
    padding-left: 25px;
}

.nav-item:nth-child(1) {background-color: blue;}
.nav-item:nth-child(1) {background-color: rgb(216, 44, 21);}
.nav-item:nth-child(1) {background-color: rgb(15, 83, 17);}